# Database settings
DATABASE_USER=<YOUR_DATABASE_USER>
DATABASE_PASSWORD=<YOUR_DATABASE_PASSWORD>
DATABASE_HOST=<YOUR_DATABASE_HOST_NAME>
DATABASE_PORT=<YOUR_DATABASE_PORT>
DATABASE_NAME=<YOUR_DATABASE_NAME>

# Optional: SSL mode
DATABASE_SSLMODE=<YOUR_SSL_MODE>