openapi: 3.0.0
info:
  title: Plenartrend API
  description: API documentation for the Plenartrend application, providing access to political topics, politicians, speeches, and alerts.
  version: 1.0.0
servers:
  - url: http://plenartrend.de/api/v1
    description: Local Development Server

paths:
  /topics:
    get:
      summary: List all topics
      description: Retrieves a paginated list of all political topics, each with a relevance and sentiment score.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of topics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTopics'

  /topics/{id}:
    get:
      summary: Get a specific topic
      description: Retrieves detailed information about a specific topic.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the topic.
      responses:
        '200':
          description: Detailed topic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicDetail'
        '404':
          description: Topic not found.

  /politicians:
    get:
      summary: List all politicians
      description: Retrieves a list of all politicians.
      parameters:
        - in: query
          name: ids
          schema:
            type: string
          description: Comma-separated list of IDs to filter by.
      responses:
        '200':
          description: A list of politicians.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Politician'

  /politicians/{id}:
    get:
      summary: Get a specific politician
      description: Retrieves detailed information about a politician.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the politician.
      responses:
        '200':
          description: Detailed politician information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoliticianDetail'
        '404':
          description: Politician not found.

  /speeches:
    get:
      summary: List all speeches
      description: Retrieves a list of full speeches metadata.
      responses:
        '200':
          description: A list of speeches.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FullSpeech'

  /speeches/{id}:
    get:
      summary: Get a specific speech
      description: Retrieves the full transcript and metadata for a specific speech.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the speech.
      responses:
        '200':
          description: Detailed speech information including speaker object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechDetail'
        '404':
          description: Speech not found.

  /alerts:
    get:
      summary: List all alerts
      description: Retrieves a list of notifications.
      responses:
        '200':
          description: A list of alerts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'

  /reports:
    get:
      summary: List all reports
      description: Retrieves a list of generated reports.
      responses:
        '200':
          description: A list of reports.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'

  /dashboard:
    get:
      summary: Get dashboard data
      description: Retrieves aggregated statistics and trend data.
      responses:
        '200':
          description: Dashboard data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardData'

  /bundestag/status:
    get:
      summary: Get Bundestag session status
      description: Retrieves the current live status of the Bundestag.
      responses:
        '200':
          description: Session status information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionStatus'

  /search:
    get:
      summary: Global search
      description: Searches across topics and politicians.
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: The search query string.
      responses:
        '200':
          description: Search results grouped by category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'

  /analysis/time-series:
    get:
      summary: Time series
      description: Returns time-series analysis (relevance and sentiment over time) as an additional query. Optional filters for time range, topic_id, person_id, and group_id.
      parameters:
        - $ref: '#/components/parameters/TimeRangeFilter'
        - in: query
          name: topic_id
          schema:
            type: integer
          description: Filter by topic ID.
        - in: query
          name: person_id
          schema:
            type: integer
          description: Filter by person (politician) ID.
        - in: query
          name: group_id
          schema:
            type: integer
          description: Filter by parliamentary group ID.
      responses:
        '200':
          description: Time-series analysis data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisOverTimeResponse'

components:
  parameters:
    PageSize:
      in: query
      name: page_size
      required: false
      description: Number of items per page. Default is 20, maximum is 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      in: query
      name: offset
      required: false
      description: Number of items to skip (for pagination). Default is 0.
      schema:
        type: integer
        minimum: 0
        default: 0
    TimeRangeFilter:
      in: query
      name: time_range
      required: false
      description: Time window for the time series. Omit for server default.
      schema:
        $ref: '#/components/schemas/TimeRangeFilter'
  schemas:
    PaginationMeta:
      type: object
      description: Standard pagination metadata included in paginated responses.
      properties:
        total_items:
          type: integer
          description: Total number of items across all pages (sent by backend).
        page:
          type: integer
          minimum: 1
          description: Current page (1-based), computed by backend from offset and page_size.
        page_size:
          type: integer
          minimum: 1
          description: Number of items per page (sent by frontend, echoed by backend).

    PaginatedTopics:
      type: object
      description: Paginated response containing a page of topics and pagination metadata.
      required: [data, total_items, page, page_size]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
          description: Page of topics.
        total_items:
          type: integer
          description: Total number of topics across all pages (sent by backend).
        page:
          type: integer
          minimum: 1
          description: Current page (1-based), computed by backend from offset and page_size.
        page_size:
          type: integer
          minimum: 1
          description: Number of items per page (sent by frontend, echoed by backend).

    Topic:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        category:
          type: string
        relevance:
          type: number
          description: Relevance score for the topic.
        sentiment:
          type: number
          description: Aggregated sentiment score for the topic, -1 to 1 (display as -100 to +100). Negative = negative sentiment, positive = positive sentiment, 0 = neutral.
        trend:
          type: string
          enum: [up, stable, down]

    TimeRangeFilter:
      type: string
      enum:
        - last_month
        - last_6_months
        - ytd
        - last_year
        - last_2_years
        - last_5_years
        - max
      description: |
        Time window for time-series data. Supported values:
        - last_month - last 30 days
        - last_6_months - last 6 months
        - ytd - year to date
        - last_year - last 12 months
        - last_2_years - last 2 years
        - last_5_years - last 5 years
        - max - all available data

    AnalysisOverTimePoint:
      type: object
      properties:
        period:
          type: string
          format: date
          description: Start of the time bucket (e.g. week or month).
        relevance:
          type: number
          description: Aggregated relevance for the period.
        sentiment:
          type: number
          description: Aggregated sentiment for the period.

    AnalysisOverTimeResponse:
      type: object
      properties:
        series:
          type: array
          items:
            $ref: '#/components/schemas/AnalysisOverTimePoint'
          description: Time-ordered data points (relevance and sentiment per period).

    TrendDataPoint:
      type: object
      properties:
        date:
          type: string
        value:
          type: number

    SpeechSnippet:
      type: object
      properties:
        id:
          type: string
        topicId:
          type: string
        speaker:
          type: string
        party:
          type: string
        text:
          type: string
        date:
          type: string
          format: date-time
        sentiment:
          type: string
          enum: ["stark positiv", "positiv", "neutral", "negativ", "stark negativ"]
        fullSpeechId:
          type: string

    PartyPosition:
      type: object
      properties:
        party:
          type: string
        relevance:
          type: number
        sentiment:
          type: number

    TopTopic:
      type: object
      properties:
        topic:
          type: string
        stance:
          type: string

    Politician:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        party:
          type: string
        role:
          type: string
        region:
          type: string
        age:
          type: integer
        gender:
          type: string
        volatility:
          type: string
        contributionFactor:
          type: number
        image:
          type: string
        topTopics:
          type: array
          items:
            $ref: '#/components/schemas/TopTopic'
        similar:
          type: array
          items:
            type: string

    TopicDetail:
      allOf:
        - $ref: '#/components/schemas/Topic'
        - type: object
          properties:
            speeches:
              type: array
              items:
                $ref: '#/components/schemas/SpeechSnippet'
            trendData:
              type: array
              items:
                $ref: '#/components/schemas/TrendDataPoint'
            positionData:
              type: array
              items:
                $ref: '#/components/schemas/TrendDataPoint'
            partyPositions:
              type: array
              items:
                $ref: '#/components/schemas/PartyPosition'
            stakeholders:
              type: object
              properties:
                pro:
                  type: array
                  items:
                    $ref: '#/components/schemas/Politician'
                contra:
                  type: array
                  items:
                    $ref: '#/components/schemas/Politician'

    FullSpeech:
      type: object
      properties:
        id:
          type: string
        speakerId:
          type: string
        title:
          type: string
        date:
          type: string
          format: date-time
        duration:
          type: string
        type:
          type: string
        session:
          type: string
        topicId:
          type: string
        relatedTopics:
          type: array
          items:
            type: string
        content:
          type: string
        sentiment:
          type: string
          enum: ["stark positiv", "positiv", "neutral", "negativ", "stark negativ"]
        sourceUrl:
          type: string

    PoliticianDetail:
      allOf:
        - $ref: '#/components/schemas/Politician'
        - type: object
          properties:
            speeches:
              type: array
              items:
                $ref: '#/components/schemas/FullSpeech'
            activityData:
              type: array
              items:
                $ref: '#/components/schemas/TrendDataPoint'

    SpeechDetail:
      allOf:
        - $ref: '#/components/schemas/FullSpeech'
        - type: object
          properties:
            speaker:
              $ref: '#/components/schemas/Politician'
            topic:
              $ref: '#/components/schemas/Topic'

    NotificationDetails:
      type: object
      properties:
        before:
          type: string
        after:
          type: string
        reason:
          type: string
        source:
          type: string
        speechId:
          type: string

    Alert:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        message:
          type: string
        type:
          type: string
          enum: [alert, info, success]
        category:
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/NotificationDetails'

    DashboardStats:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        change:
          type: string
        changeType:
          type: string

    DashboardData:
      type: object
      properties:
        stats:
          type: array
          items:
            $ref: '#/components/schemas/DashboardStats'
        trendData:
          type: array
          items:
            $ref: '#/components/schemas/TrendDataPoint'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'

    SessionStatus:
      type: object
      properties:
        wahlperiode:
          type: integer
        sitzungsnummer:
          type: string
        datum:
          type: string
          format: date-time
        titel:
          type: string
        live:
          type: boolean
        label:
          type: string
        nextDatum:
          type: string
          format: date-time
          nullable: true
        error:
          type: boolean

    SearchResults:
      type: object
      properties:
        topics:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
        politicians:
          type: array
          items:
            $ref: '#/components/schemas/Politician'

    Report:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        date:
          type: string
          format: date-time
        size:
          type: string